<!DOCTYPE html>
<html lang="en">

<%- include('../partials/headPartial') %>

<body>
    <header>
        <!--SEBAS-->
    </header>
    <main>
        <section>
            <!--SLIDERHOME-->    
        </section>
        <section>

            <!--SLIDERCATEGORIA-->
        </section>
        <section>
            <!--PASO A PASO-->
        </section>
        <section>
            <!--IMAGENHOME-->
        </section>
    </main>
    <footer>
        <!--SEBAS-->
    </footer>
</body>

</html>