<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <title>SOBRE NOSOTROS | MEMORIES</title>
</head>

<body>
    <%- include('../partials/headerPartial.ejs') %>
    <%- include('../partials/footerPartial.ejs') %>
    <%- include('../partials/jsPartials.ejs') %>
</body>

</html>