<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/nosotros.css">
    <title>SOBRE NOSOTROS | MEMORIES</title>
</head>

<body>
    <%- include('../partials/headerPartial.ejs') %>

    <div class="d-none d-lg-block">
        <figure class="figure ">
            <img src="/img/banners/banner-cursos-desktop.jpg" class="figure-img img-fluid rounded"
                alt="bannerCategoriadesktop">
        </figure>
    </div>
    <div class="d-lg-none">
        <figure class="figure">
            <img src="/img/banners/banner-cursos-mobile.jpg" class="figure-img img-fluid rounded col-12"
                alt="bannerCategoriamobile">
        </figure>
    </div>
    <div class="col-12" id="tituloNosotros"><h2>Sobre nosotros</h2></div>
    <div class="container-fluid col-xl-10 col-lg-10 col-md-11 col-sm-12" id="parrafosNosotros">
        <p class="pNosotros">Memories nace de la combinación de ideas de 3 amigos. Sebastián, Nicolás y Facundo.</p>
        <p class="pNosotros">Alguna vez te encontraste próximo a un cumpleaños u ocasión especial para un familiar, pareja o amigo ¿sin saber que regalarle? A nosotros nos pasaba seguido. Año tras año, las opciones continuaban siendo las mismas, monótonas, hasta incluso aburridas. </p>
        <p class="pNosotros">Con la experiencia de regalar un Memorie buscamos modificar por completo esta dinámica. Ya no estaremos regalando simples paquetes, o ni siquiera paquetes, pero les contaré eso más tarde. La experiencia consta de cuatro etapas, pero antes ¿Qué es una Memorie?</p>
        <p class="pNosotros">Una Memorie es un regalo que se convertirá en un recuerdo. Por un lado mantiene el formato tradicional de un regalo, siendo recibido en una agradable cajita, y por otro implementa una nueva forma de regalar, ya que este no será exactamente lo que se encuentre en la cajita, sino, lo que vendrá después. </p>
        <p class="pNosotros">Ahora sí, las etapas. </p>
        <p class="pNosotros">Elegir. En principio quien decida regalar un Memorie deberá elegir cual es el mejor para la ocasión. Por ejemplo, dentro de la Categoría Gastronomía elegiré la Memorie Take Away. </p>
        <p class="pNosotros">Regalar. Le entregas el regalo al agasajado. Tu pareja, familiar o amigo simplemente deberá entrar a nuestro Sitio y dirigirse a la sección Abrí tu Memorie. Desde allí cargar el código y acceder al catálogo de experiencias por las que puede canjear su Memorie. </p>
        <p class="pNosotros">Seleccionar. El agasajado seleccionará cual de todas las experiencias dentro del Memorie le gusta más. Por ejemplo dentro de la Memorie Take Away, seleccionar La Parolaccia.</p>
        <p class="pNosotros">Disfrutar y recordar. Último y más importante. Disfrutar de la experiencia, y recordar para siempre un regalo distinto. </p>
        <p class="pNosotros">Además, pueden optar por regalar Memories Eco-Friendly. Lo único que cambiará de la experiencia será que en lugar de regalar la cajita, esta le llegará por E-Mail al agasajado, siendo un regalo completamente digital. </p>
        <p class="pNosotros">Regalá recuerdos, regalá Memories.</p>
    </div>

    <%- include('../partials/footerPartial.ejs') %>
    <%- include('../partials/jsPartials.ejs') %>
</body>

</html>