<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <title>TERMINOS Y CONDICIONES | MEMORIES</title>
</head>

<body>
    <%- include('../partials/headerPartial.ejs') %>
    <div class="d-none d-lg-block">
        <figure class="figure">
            <img src="/img/banners/banner-escapada-desktop.jpg" class="figure-img img-fluid rounded"
                alt="bannerCategoriadesktop">
        </figure>
    </div>
    <div class="d-lg-none">
        <figure class="figure">
            <img src="/img/banners/banner-escapada-mobile.jpg" class="figure-img img-fluid rounded"
                alt="bannerCategoriamobile">
        </figure>
    </div>
    <h1 class="tituloCategoriaGrilla"> TERMINOS Y CONDICIONES </h1>
    <p>
        SITIO WEB (en adelante “Website”) de propiedad de MEMORIES S.A., titular de todos los derechos de
        industrialización, distribución y comercialización nacional e internacional de la marca MEMORIES, marcas
        registradas.
    </p>
    <p>
        <span>Términos aplicables para la navegación del Sitio de
        </span>Internet<b> <a style="color: black;" href="https://www.memories.com.ar">MEMORIES SA</a></b><span> y los
            servicios que se ofrecen</span>.
    </p>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingZero">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left queTrae" type="button" data-toggle="collapse"
                        data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                        1 – Aceptación y Conocimiento de los Términos y Condiciones.
                    </button>
                </h2>
            </div>

            <div id="collapseZero" class="collapse" aria-labelledby="headingZero" data-parent="#accordionExample">
                <div class="card-body">
                    Los presentes Términos y Condiciones son de carácter obligatorio y vinculante, y se aplican a todas
                    las compras y actividades realizadas mediante el Website. El uso del Website implica el conocimiento
                    y la aceptación de los
                    presentes Términos y Condiciones, y los que dicte o modifique en el futuro unilateralmente MEMORIES
                    SA. Si
                    usted no está de acuerdo con los Términos y Condiciones, deberá abstenerse de utilizar el Website
                    y/o los
                    servicios por él ofrecidos. <br>
                    Por “Usuario” del Website se entiende tanto a los registrados como a los visitantes. <br>
                    Para permitirles a los Usuarios una más rápida familiarización con estos Términos y Condiciones
                    podrán
                    consultar las instrucciones para operar en el Website, accediendo al icono de  Pubicado en la
                    parte inferior
                     de la página de inicio del mismo.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left queTrae" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        2 – Modificación de los Términos y Condiciones. 
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    Los presentes Términos y
                    Condiciones podrán ser sustituidos o sufrir modificaciones en cualquier momento a exclusivo criterio
                    de
                    MEMORIES SA, sin necesidad de consentimiento de los Usuarios. Para las transacciones en curso que
                    hayan
                    comenzado con anterioridad a la implementación de dichas modificaciones, subsistirán las condiciones
                    vigentes al momento de su concertación, a menos que las modificaciones introducidas resulten más
                    convenientes para el Usuario.-</p>
                    <p>Como única y valida notificación, MEMORIES SA colocará un aviso en el Website informando a los
                        Usuarios sobre
                        estos cambios, durante un tiempo razonable. Sin perjuicio de lo anterior, los Usuarios son
                        responsables de
                        leer estos Términos y Condiciones cada vez que ingresen al Website a fin de verificar la
                        vigencia de los
                        mismos y/o si se han producido modificaciones.-</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed queTrae" type="button"
                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                        3 – Interrupción del servicio. Exclusión de responsabilidad.
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    MEMORIES SA se
                    reserva el derecho de interrumpir, suspender o modificar en cualquier momento los servicios
                    ofrecidos en el
                    presente Website, ya sea en forma permanente o transitoria, sin requerir conformidad por parte de
                    los
                    Usuarios, ni necesidad de brindar aviso previo alguno.-</p>
                    <p>Asimismo, MEMORIES SA no garantiza el acceso o uso permanente del Website, ya que éste puede
                        interrumpirse por
                        cuestiones técnicas ajenas a la firma.- <br /> No obstante lo mencionado anteriormente, si la
                        suspensión o
                        interrupción mencionada no obedeciere a razones de fuerza mayor o caso fortuito o cuestiones
                        imputables al
                        propio Usuario, MEMORIES SA se compromete a cumplir las prestaciones que estuvieran pendientes
                        al momento de
                        la suspensión o interrupción.-</p>
                    <p>MEMORIES SA no garantiza que el Website se encuentre libre de virus o cualquier otro elemento que
                        pueda llegar
                        a dañar o alterar el normal funcionamiento de un ordenador. Es responsabilidad y obligación
                        exclusiva del
                        Usuario contar con los antivirus y herramientas adecuadas para detectar, desinfectar y/o
                        prevenir cualquier
                        tipo de elementos y/o posibles daños de esta naturaleza.-</p>
                    <p>MEMORIES SA no se responsabiliza por ningún daño que pueda producirse en los equipos informáticos
                        de los
                        usuarios o de terceros como consecuencia de la navegación del presente Website, ni por daños y/o
                        perjuicios
                        directos ni indirectos, ni mediatos ni inmediatos, que pudieran eventualmente ser ocasionados
                        por tales
                        causales.-</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed queTrae" type="button"
                        data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree">
                        4 – Registración.
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Los Usuarios pueden navegar libremente por el Website, pero
                    deberán estar registrados para poder realizar alguna compra o utilizar los servicios ofrecidos en
                    él.-</p>
                    <p>La registración de los Usuarios se realiza ingresando al Website, y no tiene costo alguno.-</p>
                    <p>Es obligatorio completar el formulario en todos los campos con datos válidos y verdaderos, de
                        manera exacta y
                        precisa. Para MEMORIES SA un correcto funcionamiento del sistema, es necesario que los Usuarios
                        mantengan sus
                        datos actualizados. MEMORIES SA podrá proceder a verificar la identidad del Usuario y/o la
                        veracidad de los
                        datos consignados por éste.-</p>
                    <p>MEMORIES SA no se responsabiliza por la veracidad o certeza de los datos provistos por los
                        Usuarios. Asimismo,
                        MEMORIES SA se reserva el derecho de suspender temporal o definitivamente a los Usuarios en caso
                        de
                        incumplimiento por parte de éstos de los Términos y Condiciones, como así también de rechazar
                        solicitudes de
                        registración en cualquier momento, a su sólo arbitrio y sin necesidad de expresión de causa.-
                    </p>
                    <p>Los Usuarios accederán a su cuenta personal (la “Cuenta”) mediante un “nombre de Usuario” y una
                        “clave
                        personal” que deberán escoger. En caso que estos datos sean olvidados por el Usuario, MEMORIES
                        SA cuenta con
                        un servicio de ayuda para recuperarlos. Para esto el Usuario deberá hacer “click” en la opción
                        correspondiente e ingresar el e-mail que se proporcionó al momento de la registración. Al
                        finalizar, el
                        sistema le enviará de manera confidencial a esa cuenta su “nombre de Usuario” y la “clave
                        personal”.-</p>
                    <p>Así como MEMORIES SA se compromete a mantener la confidencialidad de los datos aportados por los
                        Usuarios para
                        su registro, los Usuarios se comprometen a mantener la confidencialidad de su “nombre de
                        Usuario” y “clave
                        personal”. De conformidad con lo expresado en el párrafo anterior, los Usuarios son responsables
                        del uso que
                        se haga de su “nombre de Usuario” y “clave personal”, y deberán tener presente que si otras
                        personas tienen
                        o pueden tener en el futuro acceso a la cuenta de e-mail consignada como propia en el
                        “Formulario de
                        registración”, éstas también podrían solicitar y/o llegar a conocer su “nombre de Usuario” y
                        “clave
                        personal”. Es obligación exclusiva del Usuario tomar las medidas pertinentes para que esto no
                        suceda. El
                        Usuario se compromete a notificar inmediatamente y de manera fehaciente a MEMORIES SA cualquier
                        uso no
                        autorizado de su “nombre de Usuario” y/o “clave personal”, y a mantenerlo indemne en el caso de
                        que esto
                        produzca algún daño a MEMORIES SA o a terceros.-</p>
                    <p>Los datos introducidos pueden ser modificados por el Usuario cuando éste lo desee.</p>
                    <p>El Usuario podrá navegar por el Website de MEMORIES SA moviéndose por cualquiera de sus secciones
                        y podrá
                        elegir el Producto que esté interesado en adquirir. Todo artículo está identificado con
                        referencia, imagen,
                        descripción, tallas, colores disponibles, composición y precio.  No obstante, fotografías pueden
                        presentar
                        variaciones de color en relación a los artículos dependiendo de la calibración de su monitor.-
                    </p>
                    <p>Para realizar una compra a través del Website de MEMORIES SA el Usuario debe escoger el producto
                        que desee y
                        añadirlo al “carrito de compras”. Una vez seleccionados todos los Productos que desea adquirir,
                        deberá hacer
                        un clic sobre el botón “Comprar” para visualizar el resumen de su pedido, donde aparecerá el
                        importe total.
                        Corrobore los datos de su Orden de Compra y pulse el botón “Finalizar Compra”. Una vez pulsado,
                        y en el caso
                        que el Usuario aún no esté registrado, deberá introducir sus datos donde se indica
                        “Registrarse”. Si usted
                        ya ha realizado más compras en el Website de MEMORIES SA, deberá introducir su cuenta de correo
                        electrónico y
                        contraseña en los espacios correspondientes según se indica en el Website. Dentro de este
                        espacio el sistema
                        reconocerá dicha inscripción y desplegará en pantalla sus datos personales, la información de su
                        pedido, la
                        fecha de compra y la forma de pago que desee seleccionar.-</p>
                    <p>Para efectuar una compra a través del Website de MEMORIES SA todo usuario deberá registrarse. La
                        información
                        facilitada se guardará en la base de datos de MEMORIES SA con el objetivo de realizar con mayor
                        facilidad y
                        rapidez sus próximas compras. Además, los Usuarios que así lo soliciten recibirán por correo
                        electrónico y/o
                        vía postal información y publicaciones de MEMORIES SA.-</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed queTrae" type="button"
                        data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                        aria-controls="collapseFour">
                        5 – Capacidad.
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    Para utilizar los servicios del Website se requiere tener
                    capacidad legal para contratar. No podrán adquirir productos en este Sitio las personas civilmente
                    incapaces, quienes hayan sido suspendidos o inhabilitados, ni los menores de edad. Los padres,
                    tutores o
                    responsables de los menores de edad o incapaces que utilicen el Website serán responsables por dicho
                    uso,
                    incluyendo cualquier cargo, facturación o daño que se derive de ello.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed queTrae" type="button"
                        data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                        aria-controls="collapseFive">
                        6 – Política de privacidad de datos personales. Seguridad y tratamiento.
                    </button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    Para
                    poder utilizar el Website de manera eficiente y segura, los Usuarios deberán aportar ciertos datos,
                    entre
                    ellos, su nombre y apellido, domicilio, cuenta de e-mail, y documento de identidad, sin los cuales
                    no
                    resulta posible brindar los servicios. Por tal motivo se requiere que éstos sean verdaderos y
                    exactos. Los
                    datos recabados en los formularios correspondientes serán incorporados a la base general de clientes
                    de
                    MEMORIES SA.-</p>
                    <p>MEMORIES SA es un responsable registrado ante el Registro Nacional de Bases de Datos, dependiente
                        de la
                        Dirección Nacional de Protección de Datos Personales del Ministerio de Justicia, Seguridad y
                        Derechos
                        Humanos. La información personal que los Usuarios ingresan en el Website será tratada en forma
                        confidencial
                        y MEMORIES SA. hará su mejor esfuerzo a fin de proteger la privacidad de los mismos, de
                        conformidad con lo dispuesto en la ley 25.326. Para esto se utilizará el Sistema de Secure
                        Socket Layer
                        (SSL) de Verisign, que encripta los datos suministrados y evita su uso desautorizado,
                        garantizando una
                        operación segura. No obstante lo anterior, el Usuario deberá tener en cuenta que Internet no es
                        un medio
                        inexpugnable en cuanto a su seguridad.-</p>
                    <p>Cuando se ingresan datos y números correspondientes a tarjetas de crédito estos son encriptados,
                        asegurando
                        así que se mantengan en total confidencialidad y no puedan ser vistos por personas no
                        autorizadas.-</p>
                    <p>En consonancia con lo prescripto por la Ley de Protección de Datos Personales Nº 25,326, los
                        Usuarios tendrán
                        el derecho de acceder, actualizar y rectificar los datos ingresados cuando lo deseen. Si se
                        solicitara la
                        supresión de los datos, la misma implicará dejar de ser Usuario del Sistema y deberá hacerse por
                        carta
                        documento o presentación con firma certificada a nombre de MEMORIES SA al domicilio indicado en
                        el punto 30.
                        Cualquier Usuario del Website tendrá derecho a solicitar y obtener información sobre sus propios
                        datos
                        personales que MEMORIES SA tenga en su base, quedando la Empresa obligada a proporcionar la
                        información
                        solicitada directa y exclusivamente al titular de los datos personales dentro de los diez días
                        corridos de
                        haber sido intimada fehacientemente. Los Usuarios también podrán ejercer el derecho de
                        rectificación de sus
                        propios datos personales cuando los datos registrados fueran incorrectos.-</p>
                    <p>Asimismo, los Usuarios podrán requerir en cualquier momento la baja de su solicitud y la
                        eliminación de su
                        cuenta de la base de datos.-</p>
                    <p>MEMORIES SA garantiza a los Usuarios que utilizará los datos dentro de las pautas establecidas
                        por la ley
                        25.326 de protección de los datos personales.-</p>
                    <p>En caso de que los datos sean requeridos por la vía legal, administrativa o judicial
                        correspondiente MEMORIES
                        SA  se verá compelida a revelar los mismos a la autoridad solicitante. En la medida en que la
                        legislación y
                        normas de procedimiento lo permitan, MEMORIES SA informará a los Usuarios sobre estos
                        requerimientos.-</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed queTrae" type="button"
                        data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
                        aria-controls="collapseSix">
                        7 – Veracidad de la información suministrada.
                    </button>
                </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                    En caso de que la información o
                    los datos suministrados por el Usuario no sean verdaderos, éste será responsable por los daños que
                    este
                    hecho pudiera ocasionar.-
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingSeven">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed queTrae" type="button"
                        data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false"
                        aria-controls="collapseSeven">
                        8 – Sugerencias y comentarios.
                    </button>
                </h2>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                <div class="card-body">
                    Todas las sugerencias y comentarios que realice
                    el Usuario podrán o no ser tenidas en cuenta, implementadas o adaptadas por MEMORIES SA, a sólo y
                    exclusivo
                    arbitrio de esta Empresa, sin que ello genere derecho alguno a favor de tal usuario.-
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingEigth">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed queTrae" type="button"
                        data-toggle="collapse" data-target="#collapseEigth" aria-expanded="false"
                        aria-controls="collapseEigth">
                        9 – Cookies.
                    </button>
                </h2>
            </div>
            <div id="collapseEigth" class="collapse" aria-labelledby="headingEigth" data-parent="#accordionExample">
                <div class="card-body">
                    El Website puede utilizar un sistema de seguimiento mediante
                    "Cookies", para que el acceso a la información, al pasar de página en página, se realice con mayor
                    rapidez.
                    También ayuda en algunos casos a identificar a los Usuarios, sin necesidad de solicitarles la clave
                    de
                    acceso una y otra vez.-</p>
                    <p>Estas Cookies son pequeños archivos que envía la página visitada y se alojan en el disco duro del
                        ordenador,
                        ocupando poco espacio.-</p>
                    <p>Se hace saber a los Usuarios que utilizando las opciones de su navegador podrán limitar o
                        restringir según su
                        voluntad el alojamiento de estas “Cookies”, aunque es desaconsejable restringirlas totalmente.-
                    </p>
                    <p>El Sistema podrá recoger información sobre sus preferencias e intereses. En el caso de que esto
                        ocurra, la
                        información será utilizada exclusivamente con fines estadísticos para mejorar los servicios que
                        se prestan
                        en el Website. Fotter Argentina SRL aplicará, en la mayor medida en que sea posible,
                        procedimientos de
                        disociación de la información de modo que los titulares de los datos sean inidentificables.-</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingNine">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed queTrae" type="button"
                        data-toggle="collapse" data-target="#collapseNine" aria-expanded="false"
                        aria-controls="collapseNine">
                        10 – Disponibilidad y precio de los productos ofrecidos.
                    </button>
                </h2>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                <div class="card-body">
                    El precio de los
                    Productos que se ofrecen en el Website, puede no coincidir con proveedores que abastecen a MEMORIES
                    SA. ,
                    <b>así como tampoco con la variedad de productos y cantidades de stock existentes en los
                        locales.</b></p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingEleven">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed queTrae" type="button"
                        data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false"
                        aria-controls="collapseEleven">
                        11 – Validez de las Promociones.
                    </button>
                </h2>
            </div>
            <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
                <div class="card-body">
                    En el caso de que se realicen  Promociones
                    de Productos, éstas tendrán validez para las compras efectuadas desde la fecha de comienzo de las
                    mismas<b>,
                        hasta la finalización fijada</b>. Los términos y condiciones de las mismas serán comunicados en
                    el
                    Website, y estarán siempre sujetas a la existencia en stock de los productos ofrecidos.-</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwelve">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed queTrae" type="button"
                        data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false"
                        aria-controls="collapseTwelve">
                        12 – Impuesto al Valor Agregado (I.V.A.).-
                    </button>
                </h2>
            </div>
            <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionExample">
                <div class="card-body">
                    Todos los precios expresados en el
                    Website incluyen I.V.A., salvo que se indique lo contrario.-</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThirteen">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed queTrae" type="button"
                        data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false"
                        aria-controls="collapseThirteen">
                        13 – Garantía. Limites de Compra.
                    </button>
                </h2>
            </div>
            <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen"
                data-parent="#accordionExample">
                <div class="card-body">
                    Los productos ofrecidos en este Website han sido
                    seleccionados de la colección de  por lo que mantienen el mismo standard de calidad y garantía que
                    los
                    artículos destinados a la venta al público en los Locales exclusivos de la Marca</p>
                    <p>La tonalidad de las prendas puede variar en función del monitor del ordenador, motivo por el cual
                        no es
                        posible garantizar la autenticidad del color real del Producto.-</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFourteen">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed queTrae" type="button"
                        data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false"
                        aria-controls="collapseFourteen">
                        14 – Cambio o Devolución de los Productos.
                    </button>
                </h2>
            </div>
            <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen"
                data-parent="#accordionExample">
                <div class="card-body">
                    Todo artículo adquirido que no sea
                    de la completa satisfacción del Usuario puede ser cambiado en un plazo máximo treinta  (30) días
                    corridos
                    contados a partir de la fecha de recepción del pedido. Para esto deberán notificar de manera
                    fehaciente a
                    atencionalcliente@memories.com.ar , indefectiblemente dentro del plazo señalado, y poner a su
                    disposición el o los Productos adquiridos. Los Productos deberán encontrarse en el mismo estado en
                    que
                    fueron remitidos, sin haber sido utilizados, y con el embalaje y etiquetas originales en buen
                    estado. Todo
                    artículo adquirido que no sea de la completa satisfacción del Usuario puede ser devuelto en un plazo
                    máximo
                    de setenta y dos (72) horas corridas contadas a partir de la fecha de recepción del pedido.
                    Excedidas las
                    setenta y dos (72) horas, se podrá solicitar una nota de crédito dentro de los treinta (30) días
                    corridos
                    contados a partir de la fecha de la recepción del pedido. <span>Un producto que ha sido cambiado
                        previamente
                        no admite devolución. </span>En el caso que la devolución se deba a alguna falla del Producto
                    cubierta
                    por la garantía, los gastos necesarios exclusivamente para la devolución del Producto por la misma
                    vía de
                    entrega, correrán a cargo de MEMORIES SA.-</p>
                    <p>Los Usuarios podrán requerir mayor información, o bien notificar devoluciones o formular reclamos
                        por
                        eventuales defectos de fabricación y/o roturas y/o deterioros en tránsito, y/o despachos
                        equivocados, en el
                        Website de  todos los días del año durante las 24 horas, por mail o de 9 a 18hs por nuestro chat
                        exclusivo.
                    </p>
                    <p>Para el cambio o devolución el Usuario dispone de las siguientes alternativas:  <br />  <b>1.</b>
                        Realizarlo
                        personalmente en cualesquiera de los locales exclusivos de la marca “MEMORIES” de la República
                        Argentina, para lo cual es imprescindible la presentación de la “Tarjeta de Cambio” respectivo
                        junto al
                        Producto, su packaging y etiquetas originales. Para ello es imprescindible informar tal
                        circunstancia a
                        Atención al Cliente atencionalcliente@memories.com.ar, o bien,</p>
                    <p> <b>2.</b> Efectuar el cambio o devolución de el/los Productos a través del envío por Andreani a
                        cargo de la
                        marca. Para ello es imprescindible informar tal circunstancia a Atención al Cliente
                        atencionalcliente@memories.com.ar previo al envío del cambio <br />  </p>
                    <p>Cuando la devolución se efectúe en una tienda física, el producto será canjeado por un vale del
                        mismo importe
                        u otra prenda o accesorio de  de valor equivalente al artículo adquirido en primera instancia.-
                        <br />  </p>
                    <p>Los Productos sin etiqueta o packaging original, de temporadas anteriores, que no se encuentren
                        en perfectas
                        condiciones y sin ningún uso, manchados o rotos, no admiten ni cambios ni devoluciones.-</p>
                    <p>Los gastos de envío informados cubren únicamente una compra y un cambio/devolución. Luego si
                        fuera necesario
                        algún movimiento más el gasto correrá a cargo del Usuario.-</p>
                    <p>Los Usuarios que residan en la Provincia de Buenos Aires o en las provincias del Interior del
                        País, podrán
                        realizar el envío a través de Andreani  a cargo de la marca, previo contacto con el Centro de
                        Atención al
                        Cliente.-</p>
                    <p>En caso que la devolución se produjese por una falla en el Producto adquirido, el importe
                        correspondiente y
                        los gastos de envío serán reembolsados al Usuario a través del medio de pago que haya efectuado
                        la compra.-
                    </p>
                    <p>Tanto para cambios como para devoluciones es necesario empaquetar el/los artículo/s de forma
                        adecuada, a fin
                        de evitar un posible deterioro mayor en el Producto.-</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingfifteenn">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed queTrae" type="button"
                        data-toggle="collapse" data-target="#collapsefifteen" aria-expanded="false"
                        aria-controls="collapsefifteen">
                        15 – Moneda de pago.
                    </button>
                </h2>
            </div>
            <div id="collapsefifteen" class="collapse" aria-labelledby="headingfifteen" data-parent="#accordionExample">
                <div class="card-body">
                    Los Usuarios podrán optar, a través del comando
                    respectivo, por visualizar los precios de los Productos en pesos argentinos, moneda de curso legal
                    de la
                    República Argentina.-</p>
                    <p>Una vez cumplimentada la Orden de Compra, y antes de realizar el pago, se facilitará un Resumen
                        Final
                        identificando el/los artículo/s adquirido/s y su precio total (incluyendo transporte e
                        impuestos).-</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingSixteen">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed queTrae" type="button"
                        data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false"
                        aria-controls="collapseSixteen">
                        16 –Medios de Pago.
                    </button>
                </h2>
            </div>
            <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordionExample">
                <div class="card-body">
                    Los pagos podrán realizarse con tarjeta de crédito y/o
                    por los sistemas habilitados por Mercado Pago.  podrá habilitar otras opciones, para facilitar las compras
                    de sus clientes.-</p>
                <p>Asimismo se pueden abonar los Productos por medio de tarjeta de crédito en cuotas, según se indique en el
                    Website. El Usuario podrá ver el importe de las cuotas haciendo “click” en “Formas de Pago”, al pie de la
                    página.-</p>
                <p>Todos los medios de pago están sujetos a que el importe sea debidamente acreditado y verificado por el medio
                    elegido. Este lo selecciona el usuario en la instancia de checkout para avanzar con la transacción.-</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingSeventeen">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed queTrae" type="button"
                        data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false"
                        aria-controls="collapseSeventeen">
                        17 – Pago mediante Tarjeta de Crédito 
                    </button>
                </h2>
            </div>
            <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordionExample">
                <div class="card-body">
                    Los pagos podrán ser realizados On-Line
                    mediante las siguientes tarjetas: Visa, Dinners, Mastercard, American Express, Cabal, Naranja. Toda la
                    información ingresada por el Usuario está protegida por el Sistema NPS (Net Payment Service S.A.).</p>
                <p>La confirmación de la compra con tarjeta de crédito estará sujeta a la autorización por parte de la entidad
                    bancaria o financiera emisora de la misma.-</p>
                <p>En los pagos con tarjeta de crédito, el pago se realizará en tiempo real a través de la entidad financiera
                    correspondiente, una vez que se haya comprobado la autenticidad de los datos comunicados.  utiliza sistemas
                    de pago seguro de entidades financieras de primera línea en comercio electrónico, con el objetivo de ofrecer
                    la máxima seguridad. En este sentido, los datos confidenciales del pago son transmitidos directamente a la
                    entidad financiera correspondiente.-</p>
                <p>El sistema de seguridad empleado por , salvaguarda todos los datos que los Usuarios remitan por Internet,
                    incluyendo toda información brindada al formular una Orden de Compra (incluyendo su nombre, dirección y
                    número de tarjeta de crédito).-</p>
                <p> Se reserva el derecho de comprobar los datos personales facilitados por el cliente y adoptar las
                    disposiciones que considere oportunas (incluida la cancelación del pedido), con el objetivo de colaborar en
                    la prevención del fraude a través de Internet, y para que la mercancía adquirida sea entregada de
                    conformidad con los datos que figuran en el pedido.-</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingEigthteen">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed queTrae" type="button"
                        data-toggle="collapse" data-target="#collapseEigthteen" aria-expanded="false"
                        aria-controls="collapseEigthteen">
                        18 – Envío de Productos dentro del país.
                    </button>
                </h2>
            </div>
            <div id="collapseEigthteen" class="collapse" aria-labelledby="headingEigthteen" data-parent="#accordionExample">
                <div class="card-body">
                    Las entregas se realizarán en la
                    dirección que el Usuario indique. La veracidad y/o validez de la misma es de exclusiva responsabilidad del
                    Usuario. No se entregarán Órdenes de Compra en casillas de correo (P.O.Box).-</p>
                <p>El tiempo de entrega depende de la ubicación y distancia del domicilio de entrega, de los plazos de envío y
                    de la aprobación del medio de pago. Los plazos de entrega que se indiquen en cada caso son estimativos. Los
                    envíos se realizan en toda la República Argentina.-</p>
                <p>Al realizar una compra, el Usuario recibe en su casilla de correo electrónico una confirmación de que la
                    Orden de Pedido ha sido aceptada, junto a un Número de Pedido.</p>
                <p>A fin de asegurar la máxima eficacia en las entregas, éstas se realizan por medio de la empresa de currier
                    Andreani.  se reserva el derecho de modificar unilateralmente el currier, empresa o medio de transporte, a
                    su exclusivo criterio y sin previo aviso.-</p>
                <p>El tiempo de aprobación varía según el medio de pago. En el caso de las tarjetas de crédito, el Usuario
                    deberá verificar que los datos proporcionados para obtener la autorización sean correctos.-</p>
                <p>El tiempo de envío varía según el destino nacional donde se solicite la entrega.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwenty">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed queTrae" type="button"
                        data-toggle="collapse" data-target="#collapseTwenty" aria-expanded="false"
                        aria-controls="collapseTwenty">
                        19 – Facturación.
                    </button>
                </h2>
            </div>
            <div id="collapseTwenty" class="collapse" aria-labelledby="headingTwenty" data-parent="#accordionExample">
                <div class="card-body">
                    Junto con el Producto se remitirá la factura
                    correspondiente, indicando los Productos adquiridos, la forma y plan de pago, y la moneda utilizada para la
                    transacción. Para el caso que el Usuario deseara recibir la factura en otro domicilio, podrá indicarlo en el
                    campo correspondiente a “información de facturación” del Website y esta le será remitida por correo a la
                    dirección que indique.-</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwentyOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed queTrae" type="button"
                        data-toggle="collapse" data-target="#collapseTwentyOne" aria-expanded="false"
                        aria-controls="collapseTwentyOne">
                        20 – Prohibiciones.
                    </button>
                </h2>
            </div>
            <div id="collapseTwentyOne" class="collapse" aria-labelledby="headingTwentyOne" data-parent="#accordionExample">
                <div class="card-body">
                    Se les prohíbe terminantemente a los Usuarios: a) enviar
                    archivos o cualquier tipo de información cuyo contenido sea ilegal, obsceno, abusivo, difamatorio, injurioso
                    o contrario a las buenas costumbres (la presente enumeración es meramente ejemplificativa); b) enviar
                    archivos que contengan virus o cualquier otra característica capaz de dañar el funcionamiento de una
                    computadora, del Website o del Sistema; c) utilizar el Website para violar cualquier tipo de norma vigente;
                    d) consignar datos falsos al momento de registrarse o realizar una compra, o cualquier otro momento en que
                    les sea requerida cualquier tipo de información o datos personales; e) ofrecer productos o servicios; f)
                    usar programas, software o aparatos automáticos o manuales para monitorear o copiar la información o
                    cualquier tipo de contenido del Website sin previo consentimiento de  y/o MEMORIES Argentina S.A.-</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwentyTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed queTrae" type="button"
                        data-toggle="collapse" data-target="#collapseTwentyTwo" aria-expanded="false"
                        aria-controls="collapseTwentyTwo">
                        22 – Declaraciones
                    </button>
                </h2>
            </div>
            <div id="collapseTwentyTwo" class="collapse" aria-labelledby="headingTwentyTwo" data-parent="#accordionExample">
                <div class="card-body">
                    no se hace responsable por la veracidad de la información
                    incorporada al Website por terceros. Tampoco se hace responsable en cuanto haya sido reproducida o
                    comunicada directamente por los Usuarios del Website sin verificación por parte de . Si algún Usuario se
                    viera afectado por la información a la que se alude en el párrafo anterior, deberá comunicárselo a  , por
                    e-mail o correo postal, a fin de que se proceda a la supresión de la misma.-
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwentyThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed queTrae" type="button"
                        data-toggle="collapse" data-target="#collapseTwentyThree" aria-expanded="false"
                        aria-controls="collapseTwentyThree">
                        23 – Derechos reservados. Propiedad intelectual.
                    </button>
                </h2>
            </div>
            <div id="collapseTwentyThree" class="collapse" aria-labelledby="headingTwentyThree" data-parent="#accordionExample">
                <div class="card-body">
                    Todos los derechos del
                    presente Website están reservados y corresponden a  .-</p>
                <p>El contenido del presente Website, incluyendo aunque no limitado al texto, logos, gráficos, y todo el diseño
                    en general, así como su base de datos y software, es de propiedad de  o tiene derecho a usarlo en virtud de
                    licencias de uso otorgadas y se encuentra protegido por la legislación nacional e internacional vigente
                    sobre Propiedad Intelectual.-</p>
                <p>Si el Usuario considera que en el Website se viola o atenta de algún modo contra derechos de Propiedad
                    Intelectual de terceros deberá notificarlo a   en la dirección indicada en los presentes Términos y
                    Condiciones, acompañando toda la información y documentación necesaria que respalde la mencionada
                    consideración.-</p>
                <p> S.A. es titular de todos los derechos de industrialización, distribución y comercialización nacional e
                    internacional de toda clase de Productos bajo la marca  “MEMORIESS.”, marca  registrada en el país y en
                    el exterior.-</p>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footerPartial.ejs') %>
    <%- include('../partials/jsPartials.ejs') %>
</body>

</html>