<footer class="mt-5 bg-white">
    <div class="container-fluid">
        <section class="keep-in-touch text-center pt-3 pb-3 fondo-celeste col-12">
            <h4 class="text-center">¡Keep in touch!</h4>
            <form class="form-inline my-2 my-lg-0 mx-auto justify-content-center">
                <input id="email" class="form-control mx-2 rounded-pill w-50 shadow-sm" type="email"
                    placeholder="Dejanos tu e-mail y recibí nuestras novedades!" aria-label="Search">
                <button class="btn btn-secondary ml-2 my-2 my-sm-0 rounded-pill" type="submit">OK!</button>
            </form>

        </section>
        <section class="social-media text-center pt-3 pb-3">
            <h5 class="seguinos">Seguinos en:</h5>
            <a href="#"><img class="mx-1" src="/img/footer/instagram.png" alt=""></a>
            <a href="#"><img class="mx-1" src="/img/footer/facebook.png" alt=""></a>


        </section>
        <section class="link mx-auto">
            <ul class="nav mx-auto justify-content-center">
                <li class="nav-item col-md-2 col-sm-12 col-xs-12 align-middle">
                    <a class="nav-link text-decoration-none text-dark" href="/nosotros"><strong>
                            <p>Sobre nosotros</p>
                        </strong><i class="fas fa-angle-right"></i></a>
                </li>
                <li class="nav-item col-md-2 col-sm-12 col-xs-12 align-middle">
                    <a class="nav-link text-decoration-none text-dark" href="/ayuda"><strong>
                            <p>Ayuda</p>
                        </strong><i class="fas fa-angle-right"></i></a>
                </li>
                <li class="nav-item col-md-2 col-sm-12 col-xs-12 align-middle">
                    <a class="nav-link text-decoration-none text-dark" href="/terminos-y-condiciones"><strong>
                            <p>Términos y condiciones</p>
                        </strong><i class="fas fa-angle-right"></i></a>
                </li>
                <li class="nav-item col-md-2 col-sm-12 col-xs-12 align-middle">
                    <a class="nav-link text-decoration-none text-dark" href="/metodos-de-pago"><strong>
                            <p>Formas de pago</p>
                        </strong><i class="fas fa-angle-right"></i></a>
                </li>
                <li class="nav-item col-md-2 col-sm-12 col-xs-12 align-middle">
                    <a class="nav-link text-decoration-none text-dark" href="/contacto"><strong>
                            <p>Contacto</p>
                        </strong><i class="fas fa-angle-right"></i></a>
                </li>
            </ul>

        </section>
        <section id="copyright" class="border-bottom shadow-sm text-center pt-3 pb-3">
            <p>Copyright © Memories 2020. Todos los derechos reservados</p>

        </section>
    </div>
</footer>