*{
    font-family: 'Source Sans Pro', sans-serif;
}

.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.social-media img {
    width: 20px;
}

.keep-in-touch {
    background-color: #7BD0E3;
}

#email {
    font-size: 12px;
    color: lightgrey;
}

#copyright {
    font-size: 10px;
    color: lightgrey;
}

.link p {
    font-size: 13px;
}

.link i {
    display: none;
}

@media only screen and (max-width: 768px) {
    .link ul {
        display: flex;
        justify-content : flex-start;

    }
    
    .link li {
      border-bottom: solid 1px;
      border-color: lightgray;
      
    }

    .link p {
        margin-bottom: 0;
        display: inline;
      }
    
    .link i {
        display: inline;
        float: right;
        line-height: inherit;
        font-size: large;
        
    }

    .social-media {
        border-bottom: solid 1px;
        border-color: lightgrey;
    }
  }
