* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-image: url('../img/bg-login-1920-wide.jpg');
    background-size: cover;
    overflow-x: hidden;
    width: 100%;
    position: absolute;
}

.container-fluid {
    width: 100%;
    overflow-x: hidden;
}

.fondo {
    background-color: rgba(247, 247, 247, 0.6)
}

#titulo {
    margin-top: 50px;
}

#separador {
    height: 50px;
}

@media (min-width: 656px) and (max-width: 1366px) {
    body {
        background-image: url('../img/bg-login-mobile.jpg');
        background-position-x: center;
        background-position-y: center;
    }
}

@media (max-width: 655px) {
    body {
        background-image: url('../img/bg-login-mobile.jpg');
        background-position-x: center;
        background-position-y: center;
    }
}

.eye {
    cursor: pointer;

}

.password {
    margin-top: -0px;
}

.icon {
    padding: 0px;

}

.input-icons { 

}

.input-icons i { 

} 

.inner-addon-eye {
    position: relative;
    width: 100%;
}

.inner-addon-eye .fa-eye {
    position: absolute;
    padding: 10px;
}

.right-addon .fa-eye {
    right: 0px;
}

.right-addon input {
    padding-right: 30px;
}
