body {
    overflow-x: hidden;
}

.container-fluid {
    width: 100%;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

#containerSupremo {
    margin-top: 20px;
}

#txt-sku {
    color: lightgrey;
    margin-top: 8px;
}

#topBannerCategoria {
    margin-top: 0px;
}

#imagenMemorie {
    border-radius: 20px;
    width: 80%;
    
}


#titulo { 
    font-weight: normal;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 0.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%; 
    margin-left: 2%;    
    border-top: solid #79c8d6;
    border-width: 1px; 
}

#informacion {
    text-align: left;
    padding-right: 7%;
    margin-top: 10px;
    margin-bottom: 10px;

}

#divImagenCentral {
    margin-bottom: 10px;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}


.queTrae {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    text-decoration: none;
}

#botonComprar {
    color: white;
    width: 100%;
    border-style: none;
    background-color: #F48169;
    text-decoration: none;
}

.nombreLocal {
    color: black;
    text-align: center;
}
.nombreLocal :hover {
    color: #FBC46C;
    text-align: center;
}


.imagenDelLocal {
    border-radius: 20px;
    width: 70%;
    margin: auto;
    opacity:85%;
    transition: opacity .2s ease;
}

a:hover .imagenDelLocal {
    opacity:100%;
    transition: opacity .2s ease;
}

#filaExperiencias {
    margin-bottom: 5%;
}

#items {
    list-style: square;
}

#website {
    color: #F48169;
}

#queIncluye {
    padding-right: 4%;
    margin-top: 1%;
}

.queIncluye {
        font-weight: normal;
        font-size: 1.5rem;
        text-align: center;
        border-width: 1px;
        padding-top: 0.5%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        border-top: solid #79c8d6  
}

#experiencias {
    text-align: center;

}


#imagenRestaurant {
    border-radius: 20px;
    justify-content: center;
}

#detallesDelLocal {
    margin-right: 2%;
}


#filaExperiencias {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#imagenRestaurant {
    margin-left: 5%;
}

#imagenCategoria {
    height: 40%;
}


#filaCategorias {
    display: flex;
    justify-content: space-around;
}

.miCarousel {
    height: 100vw;
    width: 100%;
}

.portadaHome {
    height: 100vw;
    width: 100%
}

#abriTuMemorie {
    background-color: #F48169;
    border-style: none;
}

#rowCategoriasHome {
    justify-content: space-between;
    margin-left: 0;
    padding-right: 2%;
}

.carouselLanding {
padding-bottom: 3%;
}

#eslogan {
margin-bottom: 18%;
}

#categoriaIndividualHome {
    margin-bottom: 2%;
}

.imagenCategoriaHome {
    border-radius: 20px;
}

#tituloCategoriasHome {
    margin-left: 3%;
    border-top: solid #FBC46C;
    border-top-width: 1px;
    padding-top: 2%;
}

#rowPasoAPaso {
    justify-content: space-around;
    margin-bottom: -42%;
}

#textoPaso {
    text-align: center;
    font-weight: bold;
}

#tituloPasoAPasoHome {
    margin-left: 1%;
    border-top: solid #79c8d6;
    border-top-width: 1px;
    padding-top: 2%;
}

.imagenPasoAPaso {
    display:block;
    margin:auto;
}

#textoPaso4 {
    margin-left: 1%;
    text-align: center;
    font-weight: bold;
}

#categoriaIndividualHome {
    padding-right: 0%;

}

@media (max-width: 600px) {

#categoriaIndividualHome {
        margin-bottom: 2%;
        padding-right: 4%;
}

}

.bannerHome {
    width: 100vw;
}

.bannerGrilla {
    padding-bottom: 2%;
    width: 100vw;
    height: 100%;
}

.tituloCategoriaGrilla {
    text-align: center;
    font-weight: bold;;
}

.subtituloCategoriaGrilla {
    text-align: center;
    border-bottom: solid #FBC46C;
    border-bottom-width: 1px;
    margin-top: 1%;
   padding-bottom: 1%;
}

.filtroOrdenar {
    text-align: center;
    justify-content: space-between;
}

.filtroFiltrar {
    text-align: center;
    justify-content: space-between;
}

.botonOrdenar {
    background-color: #F48169;
}

.botonFiltrar {
    background-color: #79c8d6
}

.botonesCategoria {
    border-bottom: solid #FBC46C;
    border-bottom-width: 1px;
    margin-top: 1%;

}

.rowMemoriesPacks {
    justify-content: space-around;
}

.memoriePack {
    justify-content: space-around;
}

.imagenMemoriePack {
    width: 100%;
    border-radius: 20px;
    opacity:85%;
    transition: opacity .2s ease;
}

a:hover .imagenMemoriePack {
    opacity:100%;
    transition: opacity .2s ease;
}

@media (max-width: 991px) {

    #divImagenCentral {
        text-align: center;
    }

    #imagenRestaurant {
        margin-left: 0px;
    }

    #imagenMemorie {
        margin-left: 0px;
    }

    #informacion {
        text-align: left;
        padding-right: 7%;
        padding-left: 7%;
        margin-top: 10px;
        margin-bottom: 10px;
    
    }

    #titulo { 
        margin-left: 2%;
        margin-right: 2%;    
        
    }

    .infoEnLista1 {
        margin-right: 10%;
    }

    .items {
        margin-right: 10%;
    }

    .queTrae {
        text-align: center;
    }
    
    }