<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <title>Acceso Denegado | MEMORIES</title>
</head>

<body>
    <%- include('../partials/headerAdminPartial.ejs') %>

    <section class="row">
        <article id="tituloAdmin" class="col-12 card pt-5 border-0">
            <div class="card-body">
                <h1 class="card-title text-center">Acceso Denegado</h1>

            </div>
        </article>
    </section>
    <a href="/admin"><button class="btn btn-block btn-light mb-3">VOLVER</button></a>
    <%- include('../partials/jsPartials.ejs') %>
</body>

</html>