<!doctype html>
<html lang="es">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <title>Administración | MEMORIES</title>
</head>

<body>
    <%- include('../partials/headerAdminPartial.ejs') %>
    <section class="row">
        <article id="tituloAdmin" class="col-12 card pt-5 border-0">
            <div class="card-body">
                <h1 class="card-title text-center">Administración de Productos</h1>


            </div>
        </article>
    </section>

    <div class="container">
        <div id="adminProductos" class="row justify-content-md-center">
          <div class="col text-center">
            <h3>Packs de Memories</h3>
            <div class="d-flex flex-column">
                <button type="button" class="btn btn-light mb-3"><a class="text-decoration-none" href="/admin/memoriesCreate">Agregar nuevo pack<i
                    class="fas fa-plus-circle ml-2"></i></a></button>
                <button type="button" class="btn btn-light mb-3"><a class="text-decoration-none" href="/admin/listado-memories">Listar packs<i class="fas fa-list-alt ml-2"></i></a></button>
            </div>
          </div>
          <div class="col text-center">
            <h3>Experiencias</h3>
            <div class="d-flex flex-column">
                <button type="button" class="btn btn-light mb-3"><a class="text-decoration-none" href="/admin/experiencesCreate">Agregar nueva experiencia<i
                    class="fas fa-plus-circle ml-2"></i></a></button>
                <button type="button" class="btn btn-light mb-3"><a class="text-decoration-none" href="#">Listar experiencias<i class="fas fa-list-alt ml-2"></i></a></button>
            </div>
          </div>
        </div>

        <div id="adminUsuarios" class="row justify-content-md-center">
            <div class="col-6 text-center">
                <h1 class="card-title text-center">Administración de Usuarios</h1>
              <div class="d-flex flex-column">
                  <button type="button" class="btn btn-light mb-3"><a class="text-decoration-none" href="/admin/memoriesCreate">Crear nuevo usuario<i
                      class="fas fa-user-edit ml-2"></i></a></button>
                  <button type="button" class="btn btn-light mb-3"><a class="text-decoration-none" href="#">Listar usuarios<i class="fas fa-list-alt ml-2"></i></a></button>
              </div>
            </div>
    </div>

        
        

        
    <%- include('../partials/jsPartials.ejs') %>
</body>

</html>