<!doctype html>
<html lang="es">

<head>
  <%- include('../partials/headPartial.ejs') %>
  <link rel="stylesheet" href="/css/admin/admin.css">
  <title>Administración | MEMORIES</title>
</head>

<body>
  <%- include('../partials/headerAdminPartial.ejs') %>
  <section class="row mt-5">
    <article id="tituloAdmin" class="col-12 card pt-5 border-0">
      <div class="card-body">
        <h2 class="card-title text-center">Administración de Memories</h2>
      </div>
    </article>
  </section>
  <div class="container">
    <div id="adminProductos" class="row justify-content-md-center">
      <div class="col text-center">
        <h4>Packs de Memories</h4>
        <div class="d-flex flex-column">
          <a class="text-decoration-none" href="/admin/memories/create"><button type="button" class="btn btn-block btn-light mb-3">Agregar nuevo pack<i class="fas fa-plus-circle ml-2"></i></button></a>
          <a class="text-decoration-none" href="/admin/memories/list"><button type="button"class="btn btn-block btn-light mb-3">Listar packs<i class="fas fa-list-alt ml-2"></i></button></a>
        </div>
      </div>
      <div class="col text-center">
        <h4>Experiencias</h4>
        <div class="d-flex flex-column">
          <a class="text-decoration-none" href="/admin/experiences/create"><button type="button" class="btn btn-block btn-light mb-3">Agregar nueva experiencia<i class="fas fa-plus-circle ml-2"></i></button></a>
          <a class="text-decoration-none" href="/admin/experiences/list"><button type="button" class="btn btn-block btn-light mb-3">Listar experiencias<i class="fas fa-list-alt ml-2"></i></button></a>
        </div>
      </div>
      <div class="col text-center">
        <h4>Categorías</h4>
        <div class="d-flex flex-column">
          <a class="text-decoration-none" href="/admin/categories/create"><button type="button" class="btn btn-block btn-light mb-3">Agregar nueva categoría<i class="fas fa-plus-circle ml-2"></i></button></a>
          <a class="text-decoration-none" href="/admin/categories/list"><button type="button" class="btn btn-block btn-light mb-3">Listar categorías<i class="fas fa-list-alt ml-2"></i></button></a>
        </div>
      </div>

<% if (loggedInAdminUser.role == 1) { %>
  <div class="container">
  <section class="row">
    <article id="tituloAdmin" class="col-12 card border-0">
      <div class="card-body">
        <h2 class="card-title text-center">Administración de Usuarios</h2>
      </div>
    </article>
  </section>
  <div id="adminUsuarios" class="col-12 row justify-content-md-center">
    <div class="col text-center">
      <h4>Usuarios Admin</h4>
      <div class="d-flex flex-column">
        <a class="text-decoration-none" href="/admin/register"><button type="button" class="btn btn-block btn-light mb-3">Crear nuevo usuario<i class="fas fa-user-edit ml-2"></i></button></a>
        <a class="text-decoration-none" href="/admin/users/list"><button type="button" class="btn btn-block btn-light mb-3">Listar usuarios<i class="fas fa-list-alt ml-2"></i></button></a>
      </div>
    </div>
    <div class="col text-center">
      <h4>Usuarios Registrados Web</h4>
      <div class="d-flex flex-column">
        <a class="text-decoration-none" href="/admin/users-web/register"><button type="button" class="btn btn-block btn-light mb-3">Crear nuevo usuario<i class="fas fa-user-edit ml-2"></i></button></a>
        <a class="text-decoration-none" href="/admin/users-web/list"><button type="button" class="btn btn-block btn-light mb-3">Listar usuarios<i class="fas fa-list-alt ml-2"></i></button></a>
      </div>
    </div>
</div>
<% } %>

<% if (loggedInAdminUser.role == 1) { %>
  <div id="tituloAdminVentas" class="row col-12 justify-content-md-center mt-4">
    <div class="text-center col-xs-8 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <h2 class="card-title text-center">Administración de Ventas</h2>
      <div class="d-flex flex-column">
        <a class="text-decoration-none" href="/admin/orders/list"><button type="button" class="btn btn-block btn-light mb-3">Listar Órdenes<i class="fas fa-list-alt ml-2"></i></button></a>
      </div>
    </div>
  </div>
<% } %>
  </div>
  <%- include('../partials/jsPartials.ejs') %>
</body>
</html>