<!doctype html>
<html lang="es">

<head>
  <%- include('../partials/headPartial.ejs') %>
  <link rel="stylesheet" href="/css/admin/admin.css">
  <title>Administración | MEMORIES</title>
</head>

<body>
  <%- include('../partials/headerAdminPartial.ejs') %>
  <section class="row">
    <article id="tituloAdmin" class="col-12 card pt-5 border-0">
      <div class="card-body">
        <h1 class="card-title text-center">Administración de Productos</h1>


      </div>
    </article>
  </section>

  <div class="container">
    <div id="adminProductos" class="row justify-content-md-center">
      <div class="col text-center">
        <h3>Packs de Memories</h3>
        <div class="d-flex flex-column">
          <a class="text-decoration-none" href="/admin/memoriesCreate"><button type="button"
              class="btn btn-block btn-light mb-3">Agregar nuevo pack<i
                class="fas fa-plus-circle ml-2"></i></button></a>
          <a class="text-decoration-none" href="/admin/listado-memories"><button type="button"
              class="btn btn-block btn-light mb-3">Listar packs<i class="fas fa-list-alt ml-2"></i></button></a>
        </div>
      </div>
      <div class="col text-center">
        <h3>Experiencias</h3>
        <div class="d-flex flex-column">
          <a class="text-decoration-none" href="/admin/experiencesCreate"><button type="button"
              class="btn btn-block btn-light mb-3">Agregar nueva experiencia<i
                class="fas fa-plus-circle ml-2"></i></button></a>
          <a class="text-decoration-none" href="#"><button type="button" class="btn btn-block btn-light mb-3">Listar
              experiencias<i class="fas fa-list-alt ml-2"></i></button></a>
        </div>
      </div>
    </div>
<% if (loggedInAdminUser.role == 1) { %>
  <div id="adminUsuarios" class="row justify-content-md-center">
    <div class="col-6 text-center">
      <h1 class="card-title text-center">Administración de Usuarios</h1>
      <div class="d-flex flex-column">
        <a class="text-decoration-none" href="/admin/registro"><button type="button"
            class="btn btn-block btn-light mb-3">Crear nuevo usuario<i class="fas fa-user-edit ml-2"></i></button></a>
        <a class="text-decoration-none" href="/admin/listado-users"><button type="button"
            class="btn btn-block btn-light mb-3">Listar usuarios<i class="fas fa-list-alt ml-2"></i></button></a>
      </div>
    </div>
  </div>
<% } %>
  </div>





  <%- include('../partials/jsPartials.ejs') %>
</body>

</html>