<!doctype html>
<html lang="es">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <title>AGREGAR | MEMORIES</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm fixed-top">
            <a href="/admin" class="navbar-center"><img src="/img/logo-memories-md.png" width="75px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="nav-left" class="navbar-nav col-10">

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Memories</i>
                        </a>
                        <div class="dropdown-menu border shadow-sm" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/memoriesCreate">Agregar nuevo pack<i
                                    class="fas fa-plus-circle ml-2"></i></a>
                            <a class="dropdown-item" href="/admin/listado-memories">Listar packs<i class="fas fa-list-alt ml-2"></i></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Experiencias</i>
                        </a>
                        <div class="dropdown-menu border shadow-sm" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/experienceCreate">Agregar nueva experiencia<i
                                    class="fas fa-plus-circle ml-2"></i></a>
                            <a class="dropdown-item" href="#">Listar experiencias<i
                                    class="fas fa-list-alt ml-2"></i></a>
                        </div>
                    </li>
                </ul>
                <ul id="nav-right" class="navbar-nav col-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="/admin/login" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Usuario<i class="fas fa-user-circle ml-2"></i>
                        </a>
                        <div class="dropdown-menu border shadow-sm" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/login">Ingresá<i class="fas fa-sign-in-alt ml-2"></i></a>
                            <a class="dropdown-item" href="#">Salir<i class="fas fa-sign-out-alt ml-2"></i></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">ADMIN</a>
                    </li>
                </ul>



            </div>
        </nav>
    </header>
    <div class="container-fluid">


        <!-- Cuerpo principal -->

        <section class="row">
            <article class="col-12 card pt-5 border-0">
                <div class="card-body">
                    <h1 class="card-title text-center">Agregar nuevo pack de Memories</h1>


                </div>
            </article>
        </section>

        <section id="formulario" class="bg-home pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 mx-auto bg-light shadow-sm">
                        <div class="signup-form mt-2">
                            <form action="/admin/create" method="post" enctype="application/x-www-form-urlencoded">
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control rounded-pill" name="nombre"
                                        placeholder="Ej: Take Away" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="descripción">Descripción</label>
                                    <textarea class="form-control rounded-lg" name="descripcion"
                                        placeholder="Ej: Delicias para disfrutar en casa" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="imagen-producto">Imagen</label>
                                    <input type="file" class="form-control-file rounded" id="imagen-producto">
                                </div>
                                <div class="form-group">
                                    <label for="precio">Precio $</label>
                                    <input type="number" class="form-control rounded-pill" name="precio"
                                        placeholder="Ej: 1899" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="sku">SKU</label>
                                    <input type="text" class="form-control rounded-pill" name="sku"
                                        placeholder="Ej: #100-10001" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="select-category">Categoría</label>
                                    <select id="select-category" class="form-control rounded-pill">
                                        <option selected>Seleccionar</option>
                                        <option>Aventura</option>
                                        <option>Bienestar</option>
                                        <option>Cursos</option>
                                        <option>Entretenimiento</option>
                                        <option>Escapadas</option>
                                        <option>Gastronomía</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="experiencias">Incluir experiencias</label>
                                    <div id="container-experiencias">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="experiencia1"
                                                value="experiencia1">
                                            <label class="form-check-label" for="experiencias">La Bistecca</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="experiencia1"
                                                value="experiencia1">
                                            <label class="form-check-label" for="experiencias">Baum Cervecería</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="experiencia1"
                                                value="experiencia1">
                                            <label class="form-check-label" for="experiencias">Tucson</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="experiencia1"
                                                value="experiencia1">
                                            <label class="form-check-label" for="experiencias">Sipan</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="experiencia1"
                                                value="experiencia1">
                                            <label class="form-check-label" for="experiencias">Kansas</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="experiencia1"
                                                value="experiencia1">
                                            <label class="form-check-label" for="experiencias">La Bistecca</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="experiencia1"
                                                value="experiencia1">
                                            <label class="form-check-label" for="experiencias">Georgie's</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="experiencia1"
                                                value="experiencia1">
                                            <label class="form-check-label" for="experiencias">Siga la Vaca</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="experiencia1"
                                                value="experiencia1">
                                            <label class="form-check-label" for="experiencias">Los Maizales</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="experiencia1"
                                                value="experiencia1">
                                            <label class="form-check-label" for="experiencias">La Parolaccia</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="experiencia1"
                                                value="experiencia1">
                                            <label class="form-check-label" for="experiencias">La Birra</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="experiencia1"
                                                value="experiencia1">
                                            <label class="form-check-label" for="experiencias">Wunderbar</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="experiencia1"
                                                value="experiencia1">
                                            <label class="form-check-label" for="experiencias">Estilo Campo</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="experiencia1"
                                                value="experiencia1">
                                            <label class="form-check-label" for="experiencias">Atte. Pizzeria</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="experiencia1"
                                                value="experiencia1">
                                            <label class="form-check-label" for="experiencias">Banchero</label>
                                        </div>

                                    </div>
                                </div>


                                <label for="estado">Estado</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="estado-activo" value="activo">
                                        <label class="form-check-label" for="estado-activo">
                                          Activo
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="estado-inactivo" value="inactivo">
                                        <label class="form-check-label" for="estado-inactivo">
                                          Inactivo
                                        </label>
                                      </div>
                                </div>
                                <div id="btn-guardar" class="form-group float-right">
                                    <button type="submit" class="btn btn-info rounded-pill">Guardar</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    <%- include('../partials/jsPartials.ejs') %>
</body>

</html>