<!doctype html>
<html lang="es">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <title>Agregar Producto | MEMORIES</title>
</head>

<body>
    <%- include('../partials/headerAdminPartial.ejs') %>
    <div class="container-fluid">


        <!-- Cuerpo principal -->

        <section class="row">
            <article class="col-12 card pt-5 border-0">
                <div class="card-body">
                    <h1 class="card-title text-center">Agregar nuevo pack de Memories</h1>


                </div>
            </article>
        </section>

        <section id="formulario" class="bg-home pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 mx-auto bg-light shadow-sm">
                        <div class="signup-form mt-2">
                            <form action="/admin/memoriesCreate" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input type="text" class="form-control rounded-pill" name="name"
                                        placeholder="Ej: Take Away" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="description">Descripción</label>
                                    <input type="text" class="form-control rounded-pill" name="description"
                                    placeholder="Ej: Delicias para disfrutar en casa" rows="3">
                                </div>
                                <div class="form-group">
                                    <label for="image">Imagen (medidas recomendadas: 700x700 px)</label>
                                    <input type="file" class="form-control-file rounded" id="imagen-producto" name="image">
                                </div>
                                <div class="form-group">
                                    <label for="visibility">Visibilidad</label>
                                    <select id="visibility" class="form-control rounded-pill" name="visibility">
                                        <option value="true">true</option>
                                        <option value="false">false</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="price">Precio $</label>
                                    <input type="number" class="form-control rounded-pill" name="price"
                                        placeholder="Ej: 1899" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="special_price">Precio Especial $</label>
                                    <input type="number" class="form-control rounded-pill" name="special_price"
                                        placeholder="Ej: 1899" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="qty">Stock</label>
                                    <input type="number" class="form-control rounded-pill" name="qty"
                                        placeholder="Ej: 100" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="categories">Categoría</label>
                                    <select id="categories" class="form-control rounded-pill" name="categories">
                                        <option value="aventura">Aventura</option>
                                        <option value="bienestar">Bienestar</option>
                                        <option value="cursos">Cursos</option>
                                        <option value="entretenimiento">Entretenimiento</option>
                                        <option value="escapadas">Escapadas</option>
                                        <option value="gastronomia">Gastronomía</option>
                                    </select>
                                </div>
                                <div class="mx-auto bg-light shadow-sm">
                                    <div id="btn-guardar" class="form-group float-right mt-2">
                                        <button type="submit" class="btn btn-info rounded-pill">Guardar</button>
                                    </div>
                                </div>
                            </form>
                            <div id="btn-volver" class="form-group float-left mt-2">
                                <a href="/admin"><button class="btn btn-secondary rounded-pill"><i class="fas fa-arrow-left mr-1"></i>Volver</button></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </div>
    </section>
    <%- include('../partials/jsPartials.ejs') %>
</body>

</html>