<!doctype html>
<html lang="es">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <title>Listado de Órdenes | MEMORIES</title>
</head>

<body>
<%- include('../partials/headerAdminPartial.ejs') %>
    <div class="container-fluid">
        <section class="row">
            <article id="tituloAdmin" class="col-12 card pt-5 border-0">
                <div class="card-body">
                    <h1 class="card-title text-center">Listado de Órdenes</h1>
                </div>
            </article>
        </section>
        <table class="table mt-2 border-bottom">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"># Orden</th>
                    <th scope="col">Fecha de compra</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">e-mail</th>
                    <th scope="col">Status</th>
                    <th scope="col">Precio Total $</th>
                    <th scope="col">Ver Detalle</th>
                </tr>
            </thead>
            <tbody>

                    <tr>
                        <td scope="row">1234 </td>
                        <td>01-09-2020</td>
                        <td>Juan </td>
                        <td>Lopez </td>
                        <td>jlopez@gmail.com </td>
                        <td>Aprobado </td>
                        <td>$9.999</td>
                        <td><a id="btn-view" class=" text-decoration-none" href="/admin/orders/detail/"><i class="fas fa-eye text-decoration-none"></i></a></td>
                    </tr>
            </tbody>
        </table>
        <div class="col-12 mx-auto  pt-4 ">
            <div id="btn-volver" class="form-group float-left">
                <a href="/admin/users-web/list"><button class="btn btn-secondary rounded-pill"><i class="fas fa-arrow-left mr-1"></i>Volver</button></a>
            </div>
        </div>
    </div>
    <%- include('../partials/jsPartials.ejs') %>
</body>
</html>