<!doctype html>
<html lang="es">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/compras.css">
    <title>Detalle de Compra | MEMORIES</title>
</head>

<body>
<%- include('../partials/headerPartial.ejs') %>
    <div class="container-fluid">
        <section class="row">
            <article id="tituloDetalleCompra" class="col-12 card mt-1 border-0">
                <div class="card-body">
                    <h1 class="card-title text-center">Detalle de Compra</h1>
                </div>
            </article>
        </section>
        <div class="container">
            <div class="card mx-auto col-8 bg-light shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4"><strong>Nº Orden: 1234</strong></h5>

                        <article class="d-flex flex-column justify-content-between">
                            <p class="card-text"><strong>Fecha de compra: </strong></p>
                            <p class="card-text">02-09-2020</p>
                            <br>
                            <p class="card-text"><strong>Productos: </strong></p>
                            <p class="card-text">Buen día | x1 | $1.999</p>
                            <p class="card-text">Gourmet Restó | x1 | $2.999</p>
                            <br>
                            <p class="card-text"><strong>Precio Total: </strong></p>
                            <p class="card-text">$4.998</p>
                        </article>
                </div>
            </div>
    </div>
    
    <%- include('../partials/jsPartials.ejs') %>
</body>
</html>