<!doctype html>
<html lang="es">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/miCuenta.css">
    <title>Mi Cuenta | MEMORIES</title>
</head>

<body>
    <%- include('../partials/headerAdminPartial.ejs') %>
    <div class="container-fluid">

        <section class="row">
            <article class="col-12 card pt-5 border-0">
                <div class="card-body">
                    <h1 class="card-title text-center">Mi Cuenta</h1>


                </div>
            </article>
        </section>

        <section id="formulario" class="bg-home pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 mx-auto bg-light shadow-sm">
                        <div class="signup-form mt-2">
                            <form action="/" method="POST">
                                <div class="form-group text-center col">
                                    <label for="image">Imagen de Perfil</label><br>
                                    <img class="img-thumbnail" src="/img/avatar/default-avatar.png" value ='' alt="">
                                    <input type="file" class="form-control-file rounded text-center mt-2 center" id="imagen-producto" name="image">
                                </div>
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input type="text" class="form-control rounded-pill" name="name"
                                        value='name' required="required">
                                </div>
                                <div class="form-group">
                                    <label for="text">Apellido</label>
                                    <input type="text" class="form-control rounded-pill" name="name"
                                        value='apellido' required="required">
                                </div>

                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control rounded-pill" name="email"
                                        value='email' rows="3">
                                </div>
                                <div class="form-group">
                                    <label for="email">Password</label>
                                    <input type="password" class="form-control rounded-pill" name="password"
                                        value='password' required="required">
                                </div>
                                <div class="mx-auto bg-light mt-2 shadow-sm">
                                    <div id="btn-guardar" class="form-group float-right mt-2">
                                        <button type="submit" class="btn btn btn-info rounded-pill">Actualizar datos</button>
                                    </div>
                                </div>
                            </form>
                            <div id="btn-volver" class="form-group float-left mt-2">
                                <a href="/"><button class="btn btn-secondary rounded-pill"><i
                                            class="fas fa-arrow-left mr-1"></i>Volver</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    <%- include('../partials/jsPartials.ejs') %>
</body>

</html>