<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <title>GASTRONOMÍA | MEMORIES</title>
</head>
<body>
    <%- include('../partials/headerPartial.ejs') %>
    <div class="container-fluid">
      <section id="topBannerCategoria">
        <img src="/img/banners/banner-gastronomia-desktop.jpg" alt="gastronomia" class="bannerGrilla">
      </section>
    
    <div class="col-12"id="experienciasDentroDelMemorie">
        <h1 class="tituloCategoriaGrilla"> Gastronomía </h1> 
        <h4 class="subtituloCategoriaGrilla"> Disfruta de experiencias <br> gastronómicas inolvidables </h4> 
    </div>
    <div class="container">
        <div class="row rowBotones">
            <div class="col-6 filtros">
                <div class="dropdown filtroOrdenar">
                    <button class="btn btn-secondary dropdown-toggle botonOrdenar" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Ordenar
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <button class="dropdown-item" type="button">Precio más alto</button>
                      <button class="dropdown-item" type="button">Precio más bajo</button>
                      <button class="dropdown-item" type="button">Más nuevo</button>
                    </div>
                </div>
            </div>

            <div class="col-6 filtros">
                <div class="dropdown filtroFiltrar">
                    <button class="btn btn-secondary dropdown-toggle botonFiltrar" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Filtrar
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <button class="dropdown-item" type="button">Action</button>
                      <button class="dropdown-item" type="button">Another action</button>
                      <button class="dropdown-item" type="button">Something else here</button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="row botonesCategoria"></div>
<img src="" alt="">
<div class="container">
    <div class="row" id="rowMemoriesPacks">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" class="memoriePack"><a href="/detalle"><img class="imagenMemoriePack" src="/img/packs/gastronomia/memories-gastro-takeaway.jpg" alt="Take Away"></a><h4 class="text-center mb-4">$4.599</h4></div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" class="memoriePack"><a href="/detalle"><img class="imagenMemoriePack" src="/img/packs/gastronomia/memories-gastro-beerburger.jpg" alt="Beer Burger"></a><h4 class="text-center mb-4">$4.599</h4></div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" class="memoriePack"><a href="/detalle"><img class="imagenMemoriePack" src="/img/packs/gastronomia/memories-gastro-decopas.jpg" alt="De copas"></a><h4 class="text-center mb-4">$4.599</h4></div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" class="memoriePack"><a href="/detalle"><img class="imagenMemoriePack" src="/img/packs/gastronomia/memories-gastro-invitaelchef.jpg" alt="Invita el Chef"></a><h4 class="text-center mb-4">$4.599</h4></div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" class="memoriePack"><a href="/detalle"><img class="imagenMemoriePack" src="/img/packs/gastronomia/memories-gastro-gourmetresto.jpg" alt="Gourmet Resto"></a><h4 class="text-center mb-4">$4.599</h4></div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" class="memoriePack"><a href="/detalle"><img class="imagenMemoriePack" src="/img/packs/gastronomia/memories-gastro-drinks.jpg" alt="Drinks"></a><h4 class="text-center mb-4">$4.599</h4></div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" class="memoriePack"><a href="/detalle"><img class="imagenMemoriePack" src="/img/packs/gastronomia/memories-gastro-buendia.jpg" alt="Buen dia"></a><h4 class="text-center mb-4">$4.599</h4></div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" class="memoriePack"><a href="/detalle"><img class="imagenMemoriePack" src="/img/packs/gastronomia/memories-gastro-fancycuisine.jpg" alt="Fancy Cuisine"></a><h4 class="text-center mb-4">$4.599</h4></div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" class="memoriePack"><a href="/detalle"><img class="imagenMemoriePack" src="/img/packs/gastronomia/memories-gastro-saboresdelmundo.jpg" alt="Sabores del mundo"></a><h4 class="text-center mb-4">$4.599</h4></div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" class="memoriePack"><a href="/detalle"><img class="imagenMemoriePack" src="/img/packs/gastronomia/memories-gastro-veggie.jpg" alt="Veggie"></a><h4 class="text-center mb-4">$4.599</h4></div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" class="memoriePack"><a href="/detalle"><img class="imagenMemoriePack" src="/img/packs/gastronomia/memories-gastro-winelife.jpg" alt="WineLife"></a><h4 class="text-center mb-4">$4.599</h4></div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" class="memoriePack"><a href="/detalle"><img class="imagenMemoriePack" src="/img/packs/gastronomia/memories-gastro-streetfood.jpg" alt="Street Food"></a><h4 class="text-center mb-4">$4.599</h4></div>
</div>
</div>
<%- include('../partials/footerPartial.ejs') %>
<%- include('../partials/jsPartials.ejs') %>
</div>
</body>
</html>